<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings/>
	<system.web>
		<!-- Yetkilendirme kontrolünü sayfa seviyesinde (Session) yapıyoruz. 
		     Burada herkese izin vererek 401/404 hatalarını engelliyoruz. -->
		<authorization>
			<allow users="*"/>
		</authorization>
	</system.web>
</configuration>