<?xml version="1.0" encoding="utf-8"?>
<!-- Bu dosya sadece örnektir. Kendi makinenizde ConnectionStrings.config olarak kopyalayýp
     deðerleri doldurun. ConnectionStrings.config git tarafýndan yok sayýlýr. -->
<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DersKayitAkademikTakip.mdf;Initial Catalog=aspnet-DersKayitAkademikTakip;Integrated Security=True"
       providerName="System.Data.SqlClient" />

  <add name="UniversiteDB"
       connectionString="server=localhost;user=ROOT_USER;password=ROOT_PASSWORD;database=UniversiteDersKayitSistemi;port=3306;"
       providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
